:root {
        /* FONTS */
    --typewriter-font: 'Inconsolata';
    --simple-font: 'Noto Sans HK';
    --serious-font: 'Merriweather';
    --sweet-font: 'Lobster';
    --professional-font: 'Old Standard TT';
    --elegant-font: 'Sora';
    --neat-font: 'Lato';
    --urban-font: 'Montserrat';

    --font: var(--neat-font);
    --clr-font: #ffffff;
    --clr-bg: #575757;

    --clr-accent: #00A0DC;
    --clr-frame-font: #ffffff;
    --clr-frame-bg: #000000d9;    
    /* COLORS */
    --main: #00A0DC;
    



    --li-cover-width: 1075px;
    --li-cover-height: 275px;
    /* --li-aspect-ratio: 1.91 / 1; */

    --cover-height: 400px;


}


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font);
    background-color: black;
    font-size: 16px;
}


html {
    padding: 0; 

    
}
button {
    cursor: pointer;
}

.img {
    width: 100%;
}    

.App {
    /* width: 80%; */
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--clr-bg);
    color: var(--clr-font);
    padding: 1em 2em;
}



.caption {
    display: none;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
}

.caption a {
    color: white;
}

.item:hover .caption {
    display: block;
}






.generator {
    margin: 0 auto;
}

.cover-container {
    position: relative;
    margin: 0 auto;
}
.cover-border {
    box-sizing: border-box;
    /* border-bottom: 1px solid #0f0; */
    width: 100%;
    height: var(--cover-height);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    /* overflow: hidden; */
    
}

.img-wrapper {
    overflow: auto; /* adds scrollbars */
    overflow-x: hidden;
    height: var(--cover-height);
    width: var(--cover-width);
    background-color: black;
    position: relative;
    z-index: 10;
}

.img-wrapper > img {
    height: 200%; /* probably looks neater if auto */
    width: 200%; /* double width image to show only first quarter */
    vertical-align: bottom; /* moves image to true text bottom */
}



/* CONTROLS */
.controls {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    gap: 2em;
    margin-top: 1.4em;
}

.img-form {
    
}

.info-form {

}
.style-form {

}




/* INFO FRAME */
.info-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: var(--cover-height);
    position: absolute;
    bottom: 0;
    top:0;
    right: 0;
    width: 22vw;
    background-color: var(--clr-frame-bg);
    color: var(--clr-frame-font);
    color: white;
    text-align: center;
    font-family: var(--elegant-font);
}


.first-name , .last-name {
    text-transform: uppercase;
    letter-spacing: 0.15vw;
    /* Change this font-size if your name needs more space*/
    font-size: 2.8vw;
}


.first-name {
    margin: 0;
}

.last-name {
    margin: 0vw 0 0;
}

.job-title {
    text-transform: uppercase;
    margin: 0vw 0 2vw;
    font-size: 1.2vw;
    font-weight: 100;
    letter-spacing: 0.05vw;
}

.email, .phone {
    font-size: 1.1vw;
    opacity: 0.85;
    margin: 0.3vw 0;
    letter-spacing: 0.02vw;
}

.divider {
    height: 0.2vw;
    width: 60%;
    margin: 1.2vw auto 1.5vw;
    background-color: var(--clr-accent);
}



.form-label {
    font-size: 1.2rem;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .6em;

}